.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 35px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px #000;
  background-color: rgb(146, 146, 146);
  cursor: pointer;
}
