.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border: solid 1px #000;
  background-color: rgb(146, 146, 146);
  cursor: pointer;
  user-select: none;
}
